<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
{% load cms_tags menu_tags sekizai_tags static %}

    <head>
        {% language_chooser 'menu/hreflang.html' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <meta http-equiv="x-ua-compatible" content="ie=edge"> #}
        {# http://patorjk.com/software/taag/ #}

        <!-- Roman



         .o8                              oooo                      oooo
        "888                              `888                      `888
         888oooo.  ooo. .oo.     oooooooo  888  oooo       .ooooo.   888 .oo.
         d88' `88b `888P"Y88b   d'""7d8P   888 .8P'       d88' `"Y8  888P"Y88b
         888   888  888   888     .d8P'    888888.        888        888   888
         888   888  888   888   .d8P'  .P  888 `88b.  .o. 888   .o8  888   888
         `Y8bod8P' o888o o888o d8888888P  o888o o888o Y8P `Y8bod8P' o888o o888o

        --
        coded by bnzk.ch


        -->
        <title>{% block title_tag %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">

        {% render_block "css" %}

    </head>
    <body class="{% block body_class %}{% endblock %}">

        {% cms_toolbar %}

        <div id="page" class="{% block page_class %}page {% endblock %}">

            <header>
                Header
            </header>

            {% block content %}
                <div class="content">
                    {% placeholder content %}
                </div>
            {% endblock %}

            <nav class="menu">
                <ul>
                    {% show_menu 0 2 2 2 %}
                </ul>
            </nav>

            <ul>
                {% language_chooser %}
            </ul>

        </div>

        {% render_block "js" %}

    </body>
</html>
